<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="PetAccessoriesShopDBContex" connectionString="data source=DESKTOP-SHBV0DD\SQLEXPRESS01;initial catalog=PetAccessoriesShop;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />-->
  <!--<add name="PetAccessoriesShopDBContex" connectionString="data source=DESKTOP-SHBV0DD\SQLEXPRESS01;initial catalog=PetAccessoriesShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  
    <!--<add name="PetAccessoriesShopDBContex" connectionString="data source=DESKTOP-SHBV0DD\SQLEXPRESS01;initial catalog=PetAccessoriesShop;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />-->
  
  <add name="PetAccessoriesShopDBContex" connectionString="Data Source=localhost;Initial Catalog=PetAccessoriesShop;Integrated Security=True" providerName="System.Data.SqlClient" /></connectionStrings>
  
</configuration>