@model List<PetAccessoriesOnlineShop.Models.CartItem>

<a href="/Cart">
    <span class="group-cart">
        <i class="fas fa-shopping-cart"></i><span class="cart-number">@Model.Count</span>
    </span>
</a>
